.msg{
   
   
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   margin: 0;
}
.container{
    text-align: center;
    padding: 20px;
}
input[type = "text"]{
    padding: 5px;
    width:25px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid #da7e7e;
    border-radius: 5px;
}